/* Estilos para el cuerpo de la página */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para el contenedor principal */
.container {
    width: 400px; /* Ajusta el ancho del contenedor */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

/* Estilos para el encabezado dentro del contenedor */
.container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

/* Estilos para el formulario dentro del contenedor */
.container form {
    width: 100%; /* Hace que el formulario ocupe todo el ancho del contenedor */
}

/* Estilos para los campos de texto y contraseña */
.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Efecto de enfoque para los campos de texto y contraseña */
.container input[type="text"]:focus,
.container input[type="password"]:focus {
    outline: none;
    box-shadow: 0px 0px 2px 1px #333;
}

/* Estilos para el contenedor del checkbox */
.container .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Ajuste de margen para el checkbox */
.container input[type="checkbox"] {
    margin-left: 5px;
}

/* Estilos para el botón de envío */
.container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Efecto de desplazamiento para el botón de envío */
.container button[type="submit"]:hover {
    background-color: #444;
}

/* Estilos para el texto de "Olvidó tu Contraseña" */
.forgot-password {
    margin-top: 10px;
    text-align: center;
}

/* Estilos para el enlace de "Olvidó tu Contraseña" */
.forgot-password a {
    color: #333;
    text-decoration: none;
}

/* Efecto de desplazamiento para el enlace de "Olvidó tu Contraseña" */
.forgot-password a:hover {
    text-decoration: underline;
}


  




